.latest-heading {
    display: flex;
    font-weight: medium;
    font-size:1.5rem;
    letter-spacing:0px;
    color: #000000;
    align-items: center;
    justify-content:center;
    align-self: flex-start;
    gap:0.7rem;
    opacity: 1;

}
.first{
   
}
.secc{
border-bottom: 2px solid rgb(206, 67, 67);
    
}
