.Home{
    width: 80%;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .col1{
    display:flex;
    width: 100%;
    align-items:center;
    justify-content:space-between;
    position: relative;
    gap:2rem;
  }
  .home1{
    display: flex;
    align-items: center;
    justify-content: center;
    width:70%;

  }
  .home2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:30%;
    gap:0.9rem;
  }
  .col2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (max-width:1500px) {
    
    .col1,.home1{
    width:100%;
    margin-left:0px;
    }
    .home2{
      display: none;
    }
    
    
  }